* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6b5acd;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.left {
  margin-top: 4%;
  margin-left: 2%;
}
h3 {
  color: #fff;
  font-size: 25px;
}
.right ul {
  display: flex;
  margin-top: 12%;
  gap: 30px;
  cursor: pointer;
  margin-right: 20px;
}
li {
  list-style: none;
  color: #fff;
}
.container {
  margin-top: 15%;
  margin-left: 24%;
}
h1 {
  color: #fff;
  font-weight: bold;
}
p {
  padding: 12px;
  color: #fff;
}
button {
  margin-left: 20%;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #5aac57;
  color: #fff;
  border: none;
}
